<div class="article_space">
  <p class="article_index"><%= link_to '一覧に戻る', articles_path, class: 'btn' %></p>

  <div class="row">
    <span class="label">タイトル</span>
    <span><%= @article.title %></span>
  </div>

  <div class="row">
    <span class="article_value"><%= @article.content %></span>
  </div>
</div>
