.article_space
  p.article_index
    = link_to '一覧に戻る', articles_path, class: 'btn'
  .row
    span.label
      | タイトル
    span
      = @article.title
  .row
    span.article_value
      = @article.content
