.article_index {
  .new_article {
    text-align: right;
    margin-right: 31px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .article_table {
    height: fit-content;
    width: 700px;
    table-layout: fixed;
    margin-top: 20px;

    tbody {
      .created_at {
        text-align: center;
      }

      .delete {
        text-align: right;
        padding-right: 10px;
      }

      .title {
        text-align: left;
        padding-left: 50px;
      }
    }

    thead {
      line-height: 50px;

      .title {
        width: 400px;
        text-align: left;
        padding-left: 50px;
      }
    }

    .article {
      line-height: 30px;

      .btn_th {
        display: inline-block;
      }
    }
  }
}

.article_form {
  width: 700px;
  position: relative;
  margin-top: 60px;

  .form_group {
    display: flex;
    line-height: 2.4em;

    label {
      display: inline-block;
      width: 120px;
    }

    input {
      width: 150px;
      margin-right: 20px;
      margin-top: 5px;
    }

    input[type="checkbox"] {
      margin: 12px 0 0 -227px;
    }

    select {
      height: 29px;
      width: 158px;
      padding-left: 12px;
      margin-top: 5px;
      border-radius: 6px;
    }

    .checkbox_label {
      width: fit-content;
      margin-left: 30px;
    }
  }

  input[type="submit"] {
    position: absolute;
    top: -38px;
    right: 20px;
    padding: 0px 22px;
    background-color: white;
    border: 1px solid;
  }
}

.article_space {
  position: relative;
  margin-top: 30px;

  .article_index {
    text-align: right;
    margin-right: 10px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }

  .row {
    line-height: 2.4em;

    .article_value {
      width: 480px;
      display: inline-block;
      line-height: 1.5em;
      padding-top: 20px;
      word-wrap: break-word;
    }
  }
}
